

.first_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist_one {
    background-color: #E8EAEB;
    width: 100%;
}

.first_header {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    color: #556476;
    padding: 31vw 0;
    text-align: center;
}

.second_header {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    color: #E8EAEB;
    padding: 30vw 0 32vw 0;
}

.arrow_scroll {
    width: 40px;
    padding-bottom: 20px;
}

#anders_section {
    background-color: #E8EAEB;
    padding-top: 40px;
    padding-right: 14px;
    padding-left: 14px;
    text-align: justify;
}

.artist_header {
    font-family: ff-meta-correspondence-web-p, ans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: end;
    padding: 40px 10px 0;
    margin-left: 50%;
    margin-bottom: 25px;
    border-bottom: 9px solid #556476;
}

.artist_story {
    padding: 10px;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

}

.anders-subheaders {
    font-family: ff-meta-correspondence-web-p, ans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

/* read more button */

.more {
    display: none;
}

#ReadLess {
    display: none;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    background-color: #E8EAEB;
    color: #556476;
    margin: 10px 0 auto 70%;
}

#ReadLess:hover {
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #556476;
}

#ReadMore {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    background-color: #E8EAEB;
    color: #556476;
    margin: 5px 0 auto 65%;
}

#ReadMore:hover {
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #556476;
}

button {
    outline: none;
}

/* Read more button finishes */

.artist_photo {
    width: 100%;
    padding-top: 30px;
}

.booking_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.SoMe_artist {
    width: 60px;
    padding: 20px 6px;
}

/* book button */

.cta {
    background-color: #E8EAEB;
    color: #59687A;
    border: 1.5px solid #546375;
    border-radius: 25px;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    padding: 6px 30px;
}



.btn {
    background-color: transparent;
    border: 0.5px solid #546375;
    border-radius: 25px;
    font-size: 25px;
    padding: 3px;
    margin: auto 0;
}

.cta:hover {
    background-color: #556476;
    color: #E8EAEB;
    cursor: pointer;
  transition-duration: 1s;
}


/* artists portfolio */

.gallery {
    width: 85%;
    margin: 28px auto;
}

.image {
    width: 200px;
    padding: 0 10px 10px 0;
}

.image:hover {
    cursor: pointer;
    transform: scale(1.1);
  transition-duration: 0.6s;
  filter: grayscale(50%);
  opacity: .7;
}



/* arrows */

.slick-prev {
    position: absolute;
    top: 35%;
    left: -7%;
}

.slick-next {
    position: absolute;
    top: 35%;
    right: -7%;
}

.slick-prev,
.slick-next {
    width: 20px;
    height: 40px;
    cursor: pointer;
    outline: none;
    background: transparent;
}


.slick-prev:before,
.slick-next:before {
    font-family: 'lato light';
    font-size: 60px;
    color: white;
}

.slick-prev:before {
    content: '‹';
}


.slick-next:before {
    content: '›';
}

.arrow_background {
    background-color: #E8EAEB;
    padding-top: 10px;
    padding-left: 45vw;
}



#inga_section {
    background-color: #E8EAEB;
    padding-top: 40px;
    padding-right: 14px;
    padding-left: 14px;
    text-align: justify;
}

.artist2_header {
    font-family: ff-meta-correspondence-web-p, ans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    padding: 40px 10px 0;
    margin-right: 50%;
    margin-bottom: 25px;
    border-bottom: 9px solid #556476;
}

.inga-facts {
    font-family: ff-meta-correspondence-web-p, ans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.list-facts li {
    list-style-type: square;
    margin-left: 20px;
}

/* read more second button, because ID is different (can be used just once) */

.more2 {
    display: none
}

#ReadLess2 {
    display: none;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    background-color: #E8EAEB;
    color: #556476;
    margin: 10px 0 auto 70%;
}

#ReadLess2:hover {
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #556476;
}

#ReadMore2 {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    background-color: #E8EAEB;
    color: #556476;
    margin: 5px 0 auto 65%;
}

#ReadMore2:hover {
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #556476;
}

a {
    text-decoration: none;
}

.up {
    margin-left: 45vw;
}

.breadcrumb {
    font-size: 65px;
}



.inga_main {
    display: none;
}

.header_web {
    display: none;
}

.header_web_anders {
    display: none;
}

.anders_main {
    display: none;
}

.web_arrow {
    display: none;
}

.anders_web {
    display: none;
}

.artist_story_web {
    display: none;
}

.web_gallery {
    display: none;
}

.inga_web {
    display: none;
}

.scroll_formore_arrow {
    display: none;
}

/* media querries for artists page */

@media only screen and (min-width: 768px) {

    .photo_arrow {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .first_section {
        flex-direction: row;
        align-items: flex-start;
}

    .artist_one {
        width: 52%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 70px;
    }

    .first_header {
        display: none;
    }

    .inga_main {
        display: block;
        width: 37vw;
    }

    .header_web {
        display: block;
        font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
        font-size: 80px;
        color: #556476;
    border-bottom: 9px solid #556476;
        margin-bottom: 30px;
        padding-right: 60px;
        padding-left: 60px;
    }

    .arrow_scroll {
        display: none;
    }

    .arrow_background {
        display: none;
    }

    .web_arrow {
        display: block;
        width: 60px;
        padding: 13px 13px 40px 13px;

    }
    .second_header {
        display: none;
    }

    .anders_main {
        display: block;
        width: 40vw;
        padding-left: 60px;
    }

    .header_web_anders {
        display: block;
        font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
        font-size: 80px;
        color: #E8EAEB;
    border-top: 9px solid #E8EAEB;
        padding-left: 60px;
        margin-top: 30px;
        margin-right: 45%;
}

    a {
        scroll-behavior: smooth;
    }

    /* Anders section starts */

    #anders_section {
        width: 70%;
        padding-right: 0;
        padding-left: 0;
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .anders_web {
        display: block;
        width: 20vw;
    }


    .artist_photo {
        display: none;
    }

    .artist_div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-bottom: 60px;
    }

    .artist_text_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }

    .artist_story {
    display: none;
}

    .artist_story_web {
    display: block;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
        padding: 0 40px;
}


    .booking_div {
padding-top: 30px;
    }

    .anders_arrow {
        margin-top: 90px;
    }

    .anders_web_div {
        display: flex;
        flex-direction: row;
    }

    .artist_gallery {
        display: none;

    }

    .web_gallery {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 960px;
        overflow: scroll;
        width: 30%;
        margin-top: 20px;

    }

    .image {
        padding-top: 30px;
        width: 80%;
    }


/* Inga's section starts here */

    #inga_section {
        width: 70%;
        padding-right: 0;
        padding-left: 0;
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .artist2_header {
        text-align: right;
        margin-right: 0;
        margin-left: 50%;
    }

    .inga_web {
        display: block;
        width: 20vw;
    }

    .ingas_gallery_web {
        margin-top: 40px;
    }

    .scroll_formore {
        font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
        color: #E8EAEB;
    }


    /* animation for scrolling down arrow from animista */

    .scroll_formore_arrow {
        display: block;
        width: 15px;
        padding-top: 10px;
        margin-bottom: -15px;
	    -webkit-animation: bounce-bottom 3.5s infinite both;
	        animation: bounce-bottom 3.5s infinite both;
}

    /* ----------------------------------------------
 * Generated by Animista on 2020-5-25 13:19:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-bottom
 * ----------------------------------------
 */
@-webkit-keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }

    }

    .BigPhoto {
    position: absolute;
    width: 60vw;
    max-width: 800px;
    top: 110%;
    right: 10%;
    border: 5px solid #556476;
    padding: 0;
    -webkit-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
}




    .BigPhoto:hover {
    cursor: pointer;
    transform: scale(1);
  transition-duration: .3s;
  filter: grayscale(0%);
  opacity: 1;
}

.BigPhoto2 {
    position: absolute;
    width: 60vw;
    max-width: 800px;
    top: 225%;
    right: 10%;
    border: 5px solid #556476;
    padding: 0;
    -webkit-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
}

.BigPhoto2:hover {
    cursor: pointer;
    transform: scale(1);
  transition-duration: .3s;
  filter: grayscale(0%);
  opacity: 1;
}

    /* hide the scrolbar */
    .web_gallery::-webkit-scrollbar {
  display: none;
}

}




