*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-image: url(../images/background-regular.png);
    background-size: contain;


}


.fadeout-container {
    width: 100%;
    position: absolute;
    top: 10%;

}

.fadein-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: fadein ease 5s;
    animation-delay: 4s;
    opacity: 0;
    animation-fill-mode: forwards;

}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




/*first logo fadeout*/

.logo-fadeout {
    animation: fadeOut ease 5s 1 forwards;
    width: 100%;
}

.web {
    display: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*logo fade in*/
.logo-fadein {
    padding-top: 20px;
    width: 50%;
    animation: fadein ease 5s;
    animation-delay: 4s;
    opacity: 0;
    animation-fill-mode: forwards;
}

li {
    list-style: none;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*fade in animation for the menu*/
#mainMenu {
    animation: fadein ease 5s;
    animation-delay: 4s;
    opacity: 0;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.navlink1 {
    display: block;
    position: relative;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 13vw;
    text-decoration: none;
}

.navlink1:before {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
    position: absolute;
    bottom: 50%;
    left: -10%;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6;
    -o-transition: width 0.6;
}

.navlink1:Hover:before {
    width: 120%;
}

.navlink1:hover {
    opacity: 0.5;
}

.navlink2 {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    color: white;
    font-size: 16vw;
    text-decoration: none;
    line-height: 1;
}


.navlink3 {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    color: white;
    font-size: 10.3vw;
    text-decoration: none;
    line-height: 1.7;
}

.navlink4 {
    display: block;
    position: relative;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    color: white;
    font-size: 10vw;
    text-decoration: none;
    line-height: 1.2;
}

.navlink4:before {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
    position: absolute;
    bottom: 50%;
    left: -10%;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6;
    -o-transition: width 0.6;
}

.navlink4:Hover:before {
    width: 120%;
}

.navlink4:hover {
    opacity: 0.5;
}



.navlink5 {
    display: block;
    position: relative;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: white;
    font-size: 9.2vw;
    text-decoration: none;
    background-image: url(../images/menuOpacity-01.png);
    padding: 0 4px;
    line-height: 1.3;
}

.navlink5:before {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
    position: absolute;
    bottom: 50%;
    left: -10%;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6;
    -o-transition: width 0.6;
}

.navlink5:Hover:before {
    width: 120%;
}

.navlink5:hover {
    opacity: 0.5;
}

.navlink6 {
    display: block;
    position: relative;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    color: white;
    font-size: 12.5vw;
    text-decoration: none;
    line-height: 1.2;
}

.navlink6:before {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
    position: absolute;
    bottom: 50%;
    left: -10%;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6;
    -o-transition: width 0.6;
}

.navlink6:Hover:before {
    width: 120%;
}

.navlink6:hover {
    opacity: 0.5;
}



/*footer*/
.SoMe_div {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    animation: fadein ease 5s;
    animation-delay: 4s;
    opacity: 0;
    animation-fill-mode: forwards;


}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.SoMe {
    width: 12vw;
    margin: 7px;
}


#linkAnders {
    display: inline-block;
    font-family: ff-meta-correspondence-web-p,ans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    line-height: 5;
    margin-right: 40px;
    position: relative;
}

#linkAnders:before {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
    position: absolute;
    bottom: 50%;
    left: -10%;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6s;
    -o-transition: width 0.6s;
    transition: width 0.6s;
}

#linkAnders:Hover:before {
    width: 120%;
}

#linkAnders:hover {
    opacity: 0.8;
}




#linkInga {
   display: inline-block;
    position: relative;
    font-family: ff-meta-correspondence-web-p,ans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    line-height: 5;
   margin-left: 40px;
}

#linkInga:before {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
    position: absolute;
    bottom: 50%;
    left: -10%;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6;
    -o-transition: width 0.6;
}

#linkInga:Hover:before {
    width: 120%;
}

#linkInga:hover {
    opacity: 0.8;
}

#linkPrepare {
    display: inline-block;
    position: relative;
    font-family: ff-meta-correspondence-web-p,ans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    line-height: 3.9;
}

#linkPrepare:before {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
    position: absolute;
    bottom: 50%;
    left: -10%;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6;
    -o-transition: width 0.6;
}

#linkPrepare:Hover:before {
    width: 120%;
}

#linkPrepare:hover {
    opacity: 0.8;
}


#linkHygiene {
    display: inline-block;
    position: relative;
    font-family: ff-meta-correspondence-web-p,ans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    line-height: 3.9;
    margin-left: 20px;
}

#linkHygiene:before {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
    position: absolute;
    bottom: 50%;
    left: -10%;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6;
    -o-transition: width 0.6;
}

#linkHygiene:Hover:before {
    width: 120%;
}

#linkHygiene:hover {
    opacity: 0.8;
}


#linkAftercare {
    display: inline-block;
    position: relative;
    font-family: ff-meta-correspondence-web-p,ans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    line-height: 3.9;
    margin-left: 20px;
}

#linkAftercare:before {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
    position: absolute;
    bottom: 50%;
    left: -10%;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6;
    -o-transition: width 0.6;
}

#linkAftercare:Hover:before {
    width: 120%;
}

#linkAftercare:hover {
    opacity: 0.8;
}


#linkProducts {
    display: inline-block;
    position: relative;
    font-family: ff-meta-correspondence-web-p,ans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    line-height: 3.9;
    margin-left: 20px;
}

#linkProducts:before {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
    position: absolute;
    bottom: 50%;
    left: -10%;
    -webkit-transition: width 0.6s;
    -moz-transition: width 0.6;
    -o-transition: width 0.6;
}

#linkProducts:Hover:before {
    width: 120%;
}

#linkProducts:hover {
    opacity: 0.8;
}







@media only screen and (min-width: 768px) {

    .mobile {
        display: none;
    }

    .web {
        display: block;
        position: absolute;
        width: 55vw;
        top: 6vw;
        left: 24vw;
    }


    .logo-fadein {
    width: 20%;
        padding-left: 20px;
}

    .navlink1 {
    font-size: 6vw;
        line-height: 1.2;
        background-image: url(../images/background-regular.png);
        background-size: cover;
        padding: 0 20px;


}

.navlink2 {
    font-size: 7.5vw;
    background-image: url(../images/background-regular.png);
        background-size: cover;
    padding: 0 20px;

}

.navlink3 {
    font-size: 4.8vw;
    line-height: 1.2;
    background-image: url(../images/background-regular.png);
        background-size: cover;
    padding: 0 20px;
}

.navlink4 {
    font-size: 4.6vw;
    background-image: url(../images/background-regular.png);
        background-size: cover;
    padding: 0 20px;
}

.navlink5 {
    background-image: url(../images/background-regular.png);
        background-size: cover;
    -webkit-text-stroke-width:1.6px;
    font-size: 4.35vw;
    padding: 0 20px;

}

.navlink6 {
    font-size: 5.9vw;
    line-height: 1.2;
    background-image: url(../images/background-regular.png);
        background-size: cover;
    padding: 0 13px;
}


    .fadein-container {
    flex-direction: column;
    justify-content: space-between;
        align-items: stretch;
        width: 100%;
        background-image: url(../images/backMain4-01.png);
        background-size: cover;
        background-repeat: no-repeat;

}

    .SoMe {
    width: 3vw;
    margin: 10px;
}

}



