.poster-section {
    margin: 0;
    background: #E8EAEB;
    padding-top: 40px;

}


.posters-image {
    width: 90%;
    padding-left: 10px;

}

.poster-web {
    display: none;
}

.posters-header {
    font-family: ff-meta-correspondence-web-p, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    padding-right: 70px;
    text-align: right;

}

.arrow_scroll {
    display: none;
}

.shop-note {
    font-size: 16px;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-top: 6px;

}

.bookmarks-image {
    width: 100%;
}


.bookmarks-web {
    display: none;
}

.bookmarks-header {
    font-family: ff-meta-correspondence-web-p, ans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: end;
    padding: 40px 10px 0;
    margin-left: 32%;
    margin-bottom: 25px;
    border-bottom: 9px solid #556476;

}


.bookmarks-section {
    background: #E8EAEB;
    padding-top: 30px;
}

/*stickers section*/
.stickers-header {
    font-family: ff-meta-correspondence-web-p, ans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    padding: 40px 10px 0;
    margin-bottom: 25px;


}

/*pseudo element for the border*/
.stickers-header:after {
    margin: 0 auto;
    display: block;
    width: 225px;
    border-bottom: 9px solid #556476;
    content: "";
}

.stickers-image {
    width: 100%;
}

.stickers-web {
    display: none;
}

.stickers-section {
    background: #E8EAEB;
}

/*badges section*/
.badges-header {
    font-family: ff-meta-correspondence-web-p, ans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    padding: 40px 10px 0 0;
    margin-right: 40%;
    margin-bottom: 25px;
    border-bottom: 9px solid #556476;

}

.badges-image {
    width: 100%;
}

.badges-web {
    display: none;
}

.badges-section {
    background-color: #E8EAEB;
    padding-bottom: 50px;

}

.breadcrumb {
    font-size: 40px;
}


/* media querries for merchandise page */

@media only screen and (min-width: 768px) {

    .parallax {
        overflow: hidden;
    }

    /*styling the poster section*/
    .posters-image {
        display: none;
    }

    .poster-section {
        margin-right: 12vw;
        padding-top: 8vw;
    }

    .poster-web {
        width: 67vw;
        margin-top: 2%;
        display: block;
        margin-left: 1.5vw;

    }


    .posters-header {
        font-size: 35px;
        padding-left: 15vw;
        text-align: left;
        margin-left: 4vw;

    }


    .shop-note {
        text-align: left;
        margin-left: 6.5vw;


    }

    .web_arrow {
        display: block;
        width: 60px;
        padding: 0.5px 13px 40px 13px;
        background-color: #E8EAEB;
        margin-left: 37vw;
    }


    /*styling the bookmarks section*/
    .bookmarks-section {
        margin-right: 12vw;
        padding-top: 5px;
    }

    .bookmarks-image {
        display: none;
    }

    .bookmarks-web {
        width: 1200px;
        height: 350px;
        margin-left: 4vw;
        display: block;
    }


    .bookmarks-header {
        border-bottom-style: none;
        text-align: left;
        margin-bottom: 5px;
        margin-left: 6vw;


    }


    /*styling the stickers section*/
    .stickers-image {
        display: none;
    }

    .stickers-web {
        width: 100%;
        height: 450px;
        display: block;
        margin-left: 4vw;

    }



    .stickers-section {
        margin-right: 12vw;
    }

    .stickers-header {
        border-bottom: none;
        margin-left: 6vw;
        margin-bottom: 5px;
        text-align: left;


    }

    .stickers-header:after {
        border-bottom-style: none;

    }

    /*styling the badges section*/
    .badges-image {
        display: none;
    }

    .badges-web {
        width: 94.1%;
        height: 230px;
        display: block;
        margin-left: 4vw;
    }

    .badges-header {
        border-bottom-style: none;
        margin-bottom: 5px;
        margin-left: 6vw;
        padding: 40px 10px 0;


    }

    .badges-section {
        margin-right: 12vw;
    }
}


@media only screen and (min-width: 1400px) {

    .breadcrumb {
        font-size: 42px;
    }
}
